
body {


  h2 {
    color: #002147;
  }

  h3 {
    color: #cc5500;
  }
  
  margin: 0;
  font-family: sans-serif;
  padding: 1rem;
  background-color: lightgrey;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;

 
}
